@{
    var programs = new List<ProgramMenu>();
    var programfolders = new List<ProgramFolder>();

    bool IsFullScreen = false;
    bool IsLogin = false;

    try
    {
        var menuStr = ViewData["SideBarMenu"].ToString();
        var folderStr = ViewData["SideBarFolder"].ToString();

        programs = SideBarMenu.GetSideBarProgramMenus(menuStr);
        programfolders = SideBarMenu.GetSideBarFolderGroup(folderStr);
    }
    catch (Exception)
    {

    }



    try
    {
        if (ViewData["IsFullScreen"].ToString() == "Y")
        {
            IsFullScreen = true;
        }
    }
    catch (Exception)
    {
    }

    try
    {
        if (ViewData["IsLogin"].ToString() == "Y")
        {
            IsLogin = true;
        }
    }
    catch (Exception)
    {
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cloud IMS</title>

    <link href="~/vali-css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/vali-css/all.css" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="~/vali-css/main.css" />
</head>


<body class="app sidebar-mini">

    @if (!IsLogin)
    {
        <header class="app-header">
            <a class="app-header__logo" href="index.html">Vali</a>
            <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <!-- Navbar Right Menu-->
            <ul class="app-nav">
                <li class="app-search">
                    <input class="app-search__input" type="search" placeholder="Search">
                    <button class="app-search__button"><i class="fa fa-search"></i></button>
                </li>
                <!--Notification Menu-->
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                    <ul class="app-notification dropdown-menu dropdown-menu-right">
                        <li class="app-notification__title">You have 4 new notifications.</li>
                        <div class="app-notification__content">
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                    <div>
                                        <p class="app-notification__message">Lisa sent you a mail</p>
                                        <p class="app-notification__meta">2 min ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                    <div>
                                        <p class="app-notification__message">Mail server not working</p>
                                        <p class="app-notification__meta">5 min ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                    <div>
                                        <p class="app-notification__message">Transaction complete</p>
                                        <p class="app-notification__meta">2 days ago</p>
                                    </div>
                                </a>
                            </li>
                            <div class="app-notification__content">
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Lisa sent you a mail</p>
                                            <p class="app-notification__meta">2 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Mail server not working</p>
                                            <p class="app-notification__meta">5 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                                        <div>
                                            <p class="app-notification__message">Transaction complete</p>
                                            <p class="app-notification__meta">2 days ago</p>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </div>
                        <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
                    </ul>
                </li>
                <!-- User Menu-->
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                        <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                        <li><a class="dropdown-item" href="page-user.html"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("logout", "home", new { Area = "home", Folder = "home"})"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </header>
    }

    @if (!IsFullScreen && !IsLogin)
    {
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
                <div>
                    <p class="app-sidebar__user-name">John Doe</p>
                    <p class="app-sidebar__user-designation">Frontend Developer</p>
                </div>
            </div>
            <ul class="app-menu">

                @{
                    //1.) get list of folders
                    //2.) loop tru all the folders
                    foreach (var pf in programfolders)
                    {
                        <li><a class="app-menu__item" id="@pf.ID" href="#"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">@pf.Name</span></a></li>

                    }

                    @*foreach (var pm in programs)
                        {

                            <li><a class="app-menu__item active" href=@Url.Action(pm.ActionRouteAttribute, pm.ControllerRouteAttribute, new { Area = "inv", Folder=pm.ProgramFolder.RouteAttribute })><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">@pm.Name</span></a></li>

                        }*@
                }

            </ul>
        </aside>


    }

    @{

        if (IsLogin)
        {
            @RenderBody()
        }
        else
        {
            <main class="app-content">
                <div class="app-title">
                    <div>
                                <h1><i class="fa fa-dashboard"></i>Dashboard</h1>
                    </div>
                    <ul class="app-breadcrumb breadcrumb">
                        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                        <li class="breadcrumb-item"><a href="#"></a></li>
                    </ul>
                </div>
                <div id="renderbody" name="renderbody">
                    <div class="row">
                        @RenderBody()
                        @{

                            foreach (var pm in programs.Where(p => p.ProgramFolderID == "IVM"))

                            {

                                <div class="col-md-2">
                                    <a href="#">
                                        <div class="tile">
                                            <div class="tile-body">
                                                <center><i class="fa fa-user-md fa-4x"></i></center>
                                            </div>
                                            <div class="tile-footer">
                                                <center><h5>@pm.Name</h5></center>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            }

                        }
                    </div>
                </div>
            </main>
        }
    }

    @*<script type="text/javascript">
            $(document).ready(function () {
                console.log("try");
                $('#btn_sidebar').click(function () {
                    $.ajax({
                        type: 'POST',
                        url: 'home/home',
                        success: function (result) {
                            console.log("try" + result);
                        }
                    });
                });

        </script>*@


    <script src="~/vali-js/jquery-3.3.1.min.js"></script>
    <script src="~/vali-js/popper.min.js"></script>
    <script src="~/vali-js/bootstrap.min.js"></script>
    <script src="~/vali-js/main.js"></script>

    <!-- The javascript plugin to display page loading on top-->
    <script src="~/vali-js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="~/vali-js/plugins/chart.js"></script>

    <script type="text/javascript">
        var data = {
            labels: ["January", "February", "March", "April", "May"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: [65, 59, 80, 81, 56]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 86]
                }
            ]
        };
        var pdata = [
            {
                value: 300,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "Complete"
            },
            {
                value: 50,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "In-Progress"
            }
        ]

        var ctxl = $("#lineChartDemo").get(0).getContext("2d");
        var lineChart = new Chart(ctxl).Line(data);

        var ctxp = $("#pieChartDemo").get(0).getContext("2d");
        var pieChart = new Chart(ctxp).Pie(pdata);</script>
    <!-- Google analytics script-->
    <script type="text/javascript">
        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
    <script type="text/javascript">
        // Login Page Flipbox control
        $('.login-content [data-toggle="flip"]').click(function () {
            $('.login-box').toggleClass('flipped');
            return false;
        });
    </script>

    <script>
        $(document).ready(function () {
            console.log("ready!");
            $('#btn_sidebar').click(function () {
                console.log("ready!");
                $.ajax({
                    type: 'POST',
                    url: 'home/home',
                    success: function () {

                        $.each(prg, function (index, value) {
                            console.log(value);
                        });
                    }
                });
            });
        });

            $('li').click(function () {
                alert(this.id);
                $.ajax({
                    type: 'POST',
                    url: 'home/home',
                    success: function () {

                        $.each(prg, function (index, value) {
                            console.log(value);
                        });
                    }
                });
            });
    
    </script>

</body>
</html>
